* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sheader{
  height: 200px;
  width: 100%;
  padding: 189px 10vw 100px 10vw;
  background: #EEF6E4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sheader section{
  font-weight: 400;
}
.sheader section h1{
  font-size: 28px;
  color: #344054;
  margin-bottom: 13px;
}

.sheader section p{
  color: #667085;
  font-size: 14px;
  margin-bottom: 13px;
}


.sheader .header-img-container{
  width: 314px;
  height: 197px;
  background: transparent;
}

.header-img{
  width: 100%;
  height: 100%;
  background: transparent;
}

