.layout-1 {
  padding: 4px;
}

.balance-pill-container,
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.balance-pill-container {
  width: 100%;
}